<h2>About</h2>

<p id="t_copyright">This plugin has been designed and developed by <a href="http://jordan-vincent.com" target="_blank">Jordan Vincent</a>.<br>&copy; 2014 Jordan Vincent, All Rights Reserved.</p>

<h3>Contribute</h3>

<p>You can contribute by creating issues or submitting pull requests on the Github <a href="https://github.com/JordanVincent/Veritabs">project page</a>.</p>

<p>
  <iframe src="http://ghbtns.com/github-btn.html?user=JordanVincent&repo=Veritabs&type=watch&count=true"
    allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
  <iframe src="http://ghbtns.com/github-btn.html?user=JordanVincent&repo=Veritabs&type=fork&count=true"
    allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
</p>